@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Vantaa<br />
    Suomi - Finland<br />
    <abbr title="Phone">phone :  </abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">lauri.kyttala@gmail.com</a><br />
</address>